.ProgressBarContainer{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  flex-direction:column;
  max-width:1000px;
  margin:auto;
}
.timeline-main-wrapper{
  padding:0!important;
}
